
{% extends "rareDiseasesWebApp/base.html" %}

{% load static %}

{% block content %}

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner rounded">
              <h2 class="section-heading mb-4">
                <!-- 
                <span class="section-heading-upper">Projects <span style="font-size: 1.2em;">2</span></span>
                -->
                <span class="section-heading-lower text-center">Rare Diseases Platform</span>
              </h2>
              <p class="mb-0" style="text-align: justify;">  
                Despite the wide range of diseases that are classified as Rare Diseases (RDs), they have classically 
                received few resources to investigate these pathologies. As a consequence of the lack of information 
                for the diagnosis and treatment of RDs, patients often receive 2-3 misdiagnoses, requiring visits to 
                different doctors and specialists to converge on a lasting diagnosis. Identification and diagnosis 
                takes an average of 5 years, requiring at least 10 years in 1 in 5 cases to obtain a correct diagnosis. 
                <br />
                Patients affected by this type of disease see altered both their physical and mental capacities,  
                influencing their sensory and behavioral capacities. In certain cases, life expectancy is 
                not limited although, most affected patients deal with the disease throughout their lives. 
                Early diagnosis improves medical care helping provide a better quality of life and extend 
                their life expectancy.
                <br />
                To improve the prognosis of rare diseases, it is necessary to optimize the time of diagnosis.  
                Therefore, it can have a very positive impact to have a platform where all the symptoms and 
                signs of each rare disease are found, as well as all the new updated information, serving both 
                researchers, doctors, and patients.
                <!--Patients affected by this type of disease see altered both their physical and mental capacities, 
                influencing their sensory and behavioral capacities. The main problems that patients have to face 
                are multiple, from diagnosis to treatment. Because they are rare diseases, resources (funding) for 
                research on these are often scarce. For this reason, knowing all the existing resources can be helpful 
                for researchers, practitioners and patients. 
                However, the information in this format is not very accessible and useful. For this reason, 
                the objective of this project is the development of a Web Application, which allows the retrieval 
                and consultation of the information stored in the database of resources on Rare Diseases.-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'rareDiseasesWebApp/img/lupa.png' %}" alt="" style="width: 37%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">definition</span>
            <span class="section-heading-lower">Rare Diseases</span>
          </h2>
          <p class="mb-3">
            Those that affect a small number of people receive the name of Rare Diseases (RDs) 
            (in Europe it is defined as less than 1 in every 2000 citizens). The number of different 
            RDs existing is estimated between 5000 and 7000, and affect 6-8% of the world population.
          </p>
         
        </div>
      </div>
    </div>
  </section>
    
  {% endblock %}