
{% extends "rareDiseasesWebApp/base.html" %}

{% load static %}

{% block content %}

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Projects <span style="font-size: 1.2em;">2</span></span>
                <span class="section-heading-lower">Rare Diseases</span>
              </h2>
              <p class="mb-0">
                Those that affect a small number of people receive the name of Rare Diseases (RD) 
                (in Europe it is defined as less than 1 in every 2000 citizens). The number of different RE 
                existing is estimated between 5000 and 7000, and affect 6-8% of the world population.In previous projects, a SQL database was developed with information on existing resources. 
                <!--However, the information in this format is not very accessible and useful. For this reason, 
                the objective of this project is the development of a Web Application, which allows the retrieval 
                and consultation of the information stored in the database of resources on Rare Diseases.-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'rareDiseasesWebApp/img/lupa.png' %}" alt="" style="width: 37%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">definition</span>
            <span class="section-heading-lower">Rare Diseases</span>
          </h2>
          <p class="mb-3">
            Those that affect a small number of people receive the name of Rare Diseases (RD) 
            (in Europe it is defined as less than 1 in every 2000 citizens). The number of different RE 
            existing is estimated between 5000 and 7000, and affect 6-8% of the world population.
          </p>
         
        </div>
      </div>
    </div>
  </section>
    
  {% endblock %}