{% extends "rareDiseasesWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for post in posts %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.image.url}}" alt="" style="width: 40%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{post.title}}</span>
                    
                <span class="section-heading-upper">
                  <a href="{{post.content}}" >{{post.content}}</a>
                </span>
    
              </h2>
              <div style="text-align: left; font-size: 0.8em;">
              
                Autor: {{post.author}}

              </div>

            </div>
          </div>
        </div>
      </section>

      {% endfor %}

      <section>

        <div style="width: 75%; margin: auto; text-align: center; color: white;">
        
          Categories: &nbsp;
          
          {% for post in posts %}

            {% for category in post.categories.all %}

              <a href="{% url 'Category' category.id %}"class="linksCategories">{{category.name}} </a> &nbsp;&nbsp;

            {% endfor %}

          {% endfor %}
        
        </div>

      </section>
    
{% endblock %}