
{% extends "finder/browser.html" %}

{% load static %}

{% block search_bar %}
<div class="container" >
    <form  method="GET" >

        <input class="searchbox" style="width: 30em; margin-top: 2em; " type="text" placeholder="Url..."  name="query_Box" value="{{request.GET.query_Box}}">
        <input class="btnBuscador" type="submit" value="Search">

    </form>
</div>  
{% endblock search_bar %} 

{% block query_results %}
    <section class="page-section clearfix">
        <h2 class="page-section">
            <div class="container">
    
                {% if urlDB %}
    
                    <p style="color: cornsilk; font-size: .7em;">Found {{urlDB|length}}  elements related to: <strong style="font-size: .9em;">{{query}}</strong></p>

                    <table>
                      <thead>
                          <tr>
                              <th>Language</th><th>Location</th><th>Address</th>
                          </tr>
                      </thead>
                      {% for urlData in urlDB %}
                        <tr>
                          <td>{{urlData.language}}</td>
                          <td>{{urlData.location}}</td>
                          <td>
                            <a href="{{urlData.address}}"class="linksTables">
                              {{urlData.address}}
                            </a>
                          </td>
                        </tr>
                      {% endfor %}  
                  </table>
                    
                {% else %}
    
                    <p>No related item found</p>
    
                {% endif %}
            </div>
        </h2>    
    </section>    

{% endblock query_results %}  
