{% extends "services/services.html" %}

{% block TableView %}

<section class="page-section clearfix">
    <h2 class="page-section">
      <div class="container">
        <table style="margin: auto;">
            <thead>
                <tr>
                  <th>Description</th><th>Type</th><th>#</th>
                </tr>
            </thead>
            {% for resource in resourcestypeDB %}
              <tr>
                <td>{{resource.description}}</td>
                <td>
                  <a href="{% url 'ResourcestypesTemplate' resource.idtype %}"class="linksTables">
                    {{resource.Type}}
                  </a>
                </td>
                
                <td>{{resource.idtype}}</td>
              </tr>
            {% endfor %}  
        </table>
      </div>
    </h2>    
  </section>   

{% endblock TableView %} 