{% extends "rareDiseasesWebApp/base.html" %}

{% load static %}

{% block content %}

  <!-- Optionbar -->
  <ul class="menutables">
    <li class="menu-item {% if request.path|slice:':28' == '/servicesApp/diseases_Table/'%}active{% endif %}">
      <a href="{% url 'DiseasesTable' %}">diseases</a>
    </li>    
    <li class="menu-item {% if request.path|slice:':29' == '/servicesApp/resources_Table/'%}active{% endif %}">
        <a href="{% url 'ResourcesTable' %}">resources</a>
    </li>   
    <li class="menu-item {% if request.path|slice:':33' == '/servicesApp/resourcestype_Table/'%}active{% endif %}">
      <a href="{% url 'resourcestypeTable' %}">resources types</a>
    </li>   
    <li class="menu-item {% if request.path|slice:':25' == '/servicesApp/urls_Table/'%}active{% endif %}">
      <a href="{% url 'urlsTable' %}">urls</a>
    </li>   
  </ul>

  {% block TableView %}
    
  <!-- Message -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Projects <span style="font-size: 1.2em;">2</span></span>
              <span class="section-heading-lower">Rare Diseases</span>
            </h2>
              <p class="mb-0">
                Patients affected by this type of disease see altered both their physical and mental capacities, 
                influencing their sensory and behavioral capacities. The main problems that patients have to face 
                are multiple, from diagnosis to treatment. Because they are rare diseases, resources (funding) for 
                research on these are often scarce. For this reason, knowing all the existing resources can be helpful 
                for researchers, practitioners and patients.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock TableView %}  

    
{% endblock %}